{% extends 'base.html.twig' %}
{% block title %}
    Change your password
{% endblock %}

{% block body %}

    {{form_start(changePasswordForm) }}
    {{ form_widget(changePasswordForm) }}
    <label for="confirmPassword">Confirm new Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword"/>
    {{ form_end(changePasswordForm) }}

{% endblock %}