{% extends 'base.html.twig' %}

{% block title %}My profile {% endblock %}

{% block body %}
<div class="container">
    <h2>My profile</h2>
    {{ form_start(myProfileForm) }}
    {{ form_widget(myProfileForm) }}
    {{ form_end(myProfileForm) }}
</div>

{% endblock %}