body{
    background: rgb(34,200,195);
    background: linear-gradient(0deg, rgba(34,193,198,1) 0%, rgba(253,168,45,1) 100%);
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

.container{
    color: white;

}

.btn{
    width: 150px;
}


#annulation_reasonCancellation{
    width: auto;
    height: auto;

}